@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

* {
  box-sizing: border-box;
  margin: 0;

  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #E9E2E4;
}

a {
  text-decoration: none;
  color: inherit;
}
